.input {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: var(--space-2xl);
  background-color: #fff;
  gap: var(--space-3xs-2xs);
  padding: var(--space-2xs-xs);
  font-size: inherit;
  transition: 0.2s;
}
.input:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
}

.input__box {
  flex-grow: 1;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border: none;
  outline: none;
  font-size: inherit;
}

.input__submit {
  border-radius: 50%;
  aspect-ratio: 1;
  width: var(--space-xl-2xl);
  border: none;
  background-color: rgb(42, 157, 143);
  transition: 0.2s all;
  box-shadow: 0 0 2px black;
}
.input__submit:active {
  box-shadow: 0 0 1px black;
}
